<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard | ATC</title>
</head>
<body>
    <%- include('navbar.ejs') -%>
    <div class="pt10vh grid-gap-20">
        <div class="page-title">
            <img src="../../images/private/leaderboard.svg" alt="">
            <h1>Leaderboard
            </h1>
        </div>
        <section class="main-section">
            <div class="content">
                <%_ if(leaderboard.length > 0) { %>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Score</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%_ for(i in leaderboard) { %>
                                <tr>
                                    <td><a href="/profile/<%= leaderboard[i].lPersonID %>"><%= leaderboard[i].name %></a></td>
                                    <td><%= leaderboard[i].date %></td>
                                    <td><%= leaderboard[i].score %></td>
                                    <td><a href="/levels"> <%= leaderboard[i].level %></a></td>
                                </tr>
                            <%_ } %>
                        </tbody>
                    </table>
                <%_ } else { %>
                    <p style="text-align: center;">Nothing to see here</p>
                <%_ } %>
            </div>
        </section>
    </div>
</body>
<script>
    let localS = localStorage.getItem('theme'), themeToSet = localS

    if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.documentElement.setAttribute('data-theme', themeToSet)

</script>
</html>