<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levels | ATC</title>
</head>
<body class="bg-levels">
    <%- include('navbar.ejs') -%>
    <div class="sections pt10vh grid-gap-20">
        <h1 class="page-title">Levels</h1>
        <section class="levels main-section">
            <div class="container-levels grid-gap-20">
                <%_ for(i in levels) { %>
                    <section id="<%= i %>" class="inner">
                        <div class="title">
                            <h2><%= levels[i].airport_name %></h2>
                            <p><%= levels[i].airport_icao %></p>
                        </div>
                        <div class="container-level">
                            <img src="<%= levels[i].image_reference %>" alt="">
                            <div class="details">
                                <p><%= levels[i].text_waffle %></p>
                                <p><%= levels[i].text_instructions %></p>
                                <button class="transform-120"><a href="/play/<%= levels[i].airport_icao %>" style="cursor: pointer; all: unset;">Play this level</a></button>
                            </div>
                        </div>
                    </section>
                <%_ } %>
            </div>
        </section>
    </div>
</body>

<script>
    let localS = localStorage.getItem('theme'), themeToSet = localS

    if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.documentElement.setAttribute('data-theme', themeToSet)

</script>
</html>