<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body class="bg-blue">
    <%- include('navbar.ejs') -%>
    <div class="sections">
        <h1 class="page-title"><%= user.name %>'s Profile</h1>
        <section class="grid-30-70 main-section">
            <div class="sidebar" style="position: relative;">
                <img src="<%= user.cover_image %>" alt="" id="profile-top-img" style="left: 0; top: 0; height: 100%; z-index: -2;">
                <img src="<%= user.pfp %>" id="other-profile-img" alt="">
                <div id="profile-top-container" style="height: 10em; margin: 0;">
                    <div id="profile-top-details" style="width: 100%;">
                        <div class="container" style="width: 100%;">
                            <p><%= user.name %></p>
                            <p><%= user.username %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content content-child">
                <div class="details" id="friend-details">
                    <%_ if(friend.active) { %>
                        <section class="profile-section" style="background-color: rgb(71, 184, 71);">
                            <p class="tcenter">✔ Friends - since <%= friend.since.substr(0, 10) %></p>
                        </section>
                    <%_ } else { %>
                        <section class="profile-section" style="background-color: rgb(184, 71, 71);">
                            <p class="tcenter">Not friends <a href="/add_friend/<%= user.id %>">Send request</a></p>
                        </section>
                    <%_ } %>
                    <%_ if(JSON.stringify(leaderboard) != '[]' && (privacy.leaderboard == 'global' || (privacy.leaderboard == 'friends' && friend.active))) { %>
                        <section class="profile-section">
                            <p class="tcenter">Leaderboard: <%= leaderboard[0].level %> with <%= leaderboard[0].score %> points %></p>
                        </section>
                    <%_ } else if(privacy.leaderboard != 'global') { %>
                        <p style="text-align: center; padding: 20px;">Leaderboard not shown due to privacy setting</p>
                    <%_ } else { %>
                        <p style="text-align: center; padding: 20px;">No leaderboard entry for <%= user.name.split(' ')[0] %></p>
                    <%_ } %>
                    <%_ if(JSON.stringify(history) != '[]' && (privacy.history == 'global' || (privacy.history == 'friends' && friend.active))) { %>
                        <section class="profile-section">
                            <h1 class="title" style="margin-bottom: 10px;">History</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>Date</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%_ for(i in history) { %>
                                        <tr>
                                            <td><%= history[i].level %></td>
                                            <td><%= history[i].date %></td>
                                            <td><%= history[i].score %></td>
                                        </tr>
                                    <%_ } %>
                                </tbody>
                            </table>
                        </section>
                    <%_ } else if(privacy.history != 'global') { %>
                        <p style="text-align: center; padding: 20px;">History not shown due to privacy setting</p>
                    <%_ } else { %>
                        <p style="text-align: center; padding: 20px;">No history for <%= user.name.split(' ')[0] %></p>
                    <%_ } %>
                    <%_ if(JSON.stringify(followers) != '[]' && (privacy.friends == 'global' || (privacy.friends == 'friends' && friend.active))) { %>
                        <section class="profile-section">
                            <h1 class="title" style="margin-bottom: 10px;">Friends - <%= followers.length %></h1>
                            <table>
                                <tbody>
                                    <%_ for(i in followers) { %>
                                        <tr>
                                            <td style="position: relative; height: 300px;">
                                                <a href="/profile/<%= followers[i].id %>">
                                                    <img src="<%= followers[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0; top: 0;">
                                                    <div id="profile-top-details">
                                                        <img src="<%= followers[i].pfp %>" id="profile-picture" alt="">
                                                        <p class="name"><%= followers[i].name %></p>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    <%_ } %>
                                </tbody>
                            </table>
                        </section>
                    <%_ } else if(privacy.friends != 'global') { %>
                        <p style="text-align: center; padding: 20px;">Friends not shown due to privacy setting</p>
                    <%_ } else { %>            
                        <p style="text-align: center; padding: 20px;">No followers for <%= user.name.split(' ')[0] %></p>
                    <%_ } %>
                </div>
            </div>
        </section>
    </div>
</body>
</html>