<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search | ATC</title>
</head>
<body>
    <%- include('navbar.ejs') -%>
    <div class="grid-gap-20 pt10vh">
        <div class="page-title">
            <img src="../../images/private/search.svg" alt="">
            <h1>Search</h1>
        </div>
        <section class="search main-section">
            <form action="search" method="POST">
                <input type="text" name="query" placeholder="Start typing...">
                <button type="submit"><img src="../../images/private/search.svg" alt="" style="height: 25px;"></button>
            </form>
            <!-- RESULTS -->
            <!-- PEOPLE -->
            <%_ if(users || levels) { %>
                <%_ if(JSON.stringify(users) != '[]') { %>
                    <section class="w100">
                        <h1 class="title">Results</h1>
                        <p style="text-align: center; padding: 10px 0px;">You can manage friends and requests from settings > friends.</p>
                        <section class="results people" style="width: 100%; margin-left: 0;">
                            <%_ for(i in users) { %>
                                <%_ if(users[i].id != current_user) { %>
                                    <div class="result" id="<%= i %>">
                                        <a class="details" href="/profile/<%= users[i].id %>">
                                            <div class="info">
                                                <img src="<%= users[i].pfp %>" alt="" class="profile-picture-small">
                                                <div class="inner">
                                                    <p><%= users[i].name %></p>
                                                    <p><%= users[i].username %></p>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="action">
                                            <%_ if(users[i].status == 'Requested' && users[i].lead_user == current_user) { %>
                                                <p>Requested <%= users[i].creation_date.substr(0,10) %></p>
                                            <%_ } else if(users[i].status == 'Active' && users[i].lead_user == current_user) { %>
                                                <p>Active since <%= users[i].creation_date.substr(0, 10) %></p>
                                            <%_ } else { %>
                                                <button><a href="/add_friend/<%= users[i].id %>">Request</a></button>
                                            <%_ } %>
                                        </div>
                                    </div>
                                <%_ } %>
                            <%_ } %>
                        </section>
                    </section>
                <%_ } %>
                <%_ if(JSON.stringify(levels) != '[]') { %>
                    <!-- LEVELS -->
                    <section class="w100">
                        <h1 class="title">Found levels:</h1>
                        <section class="results levels" style="width: 100%; margin-left: 0;">
                            <%_ for(i in levels) { %>
                                <div class="result" id="<%= i %>">
                                    <a class="details" href="/levels">
                                        <div class="info">
                                            <img src="<%= levels[i].image_reference %>" alt="" style="height: 150px;">
                                            <div class="inner">
                                                <p><%= levels[i].airport_name %></p>
                                                <p><%= levels[i].airport_icao %></p>   
                                            </div>
                                        </div>
                                    </a>
                                    <div class="action">
                                        <button><a href="/levels">See more</a></button>
                                    </div>
                                </div>
                            <%_ } %>
                        </section>
                    </section>
                <%_ } %>
            <%_ } if(JSON.stringify(users) == '[]' && JSON.stringify(levels) == '[]') { %>
                <h1 style="text-align: center; padding: 20px;">No Results</h1>
                <p style="text-align: center; padding: 20px;">Use the search button</p>
            <%_ } %>
        </section>
    </div>
</body>
<script>
    let localS = localStorage.getItem('theme'), themeToSet = localS

    if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.documentElement.setAttribute('data-theme', themeToSet)

</script>
</html>