<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Finished</title>
</head>
<body>
    <%- include('navbar.ejs') -%>
    <%_ if(reason == 'level_finished') reason = 'you finished it successfully!' %>
    <%_ if(reason == 'collision') reason = 'two aircraft collided!' %>
    <%_ if(reason == 'max_aircraft_deleted') reason = 'too many aicraft missed their departure time!' %>
    <div class="sections">
        <section class="play-ended">
            <h1 class="title">Game finished at <%= level %></h1>
            <section class="inner" style="transition: 0.5s;">
                <p style="text-align: center; padding-top: 10px;">Let's see how you did</p>
                <div class="container-level">
                    <img src="<%= image %>" alt="">
                    <div class="details">
                        <p>Your score: <%= score %></p>
                        <p>Time taken: <%= time %></p>
                        <p>The game ended because <%= reason %></p>
                    </div>
                </div>
                <button><a href="/home" style="cursor: pointer; all: unset;">Go to homepage</a></button>
                <p style="text-align: center; padding-top: 5px; font-size: 15px;">Your history and leaderboard entries are updated automatically</p>
            </section>
        </section>
        </section>
    </div>
</body>
<script>
    let localS = localStorage.getItem('theme'), themeToSet = localS

    if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.documentElement.setAttribute('data-theme', themeToSet)

</script>
</html>