<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
</head>
<body>
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div class="page-title">
            <img src="../../../images/private/settings/AI-friends.png" alt="">
            <h1>Friends</h1>
        </div>
        <p style="padding: 10px; text-align: center;">See all friend details here</p>
        <div class="content-settings">
            <%- include('sidebar.ejs') -%>
            <section class="main-section main-section-settings">
                <div class="content content-child">
                        <%_ if(JSON.stringify(followers) == '[]' && JSON.stringify(following) == '[]' && JSON.stringify(follower_requests) == '[]' && JSON.stringify(requested_followers) == '[]') { %>
                            <p style="text-align: center; margin-top: auto;">Nothing here. Either wait for requests or <a href="/search">search</a> for people.</p>
                        <%_ } else { %>
                        <%_ if(JSON.stringify(follower_requests) != '[]') { %>
                            <section>
                                <h1 class="title">Incoming requests</h1>
                                <table>
                                    <tbody>
                                        <%_ for(i in follower_requests) { %>
                                            <tr>
                                                <td id="person">
                                                    <div id="profile-top-container">
                                                        <a href="/profile/<%= follower_requests[i].id %>">
                                                            <img src="<%= follower_requests[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                            <div id="profile-top-details">
                                                                <img src="<%= follower_requests[i].pfp %>" class="profile-picture-default" alt="">
                                                                <div class="container">
                                                                    <p><%= follower_requests[i].name %></p>
                                                                    <p><%= follower_requests[i].username %></p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td id="friends">
                                                    <p class="m10"><a href="/accept_request/<%= follower_requests[i].id %>" style="background-color: var(--button-accept-background);">Accept</a></p>
                                                    <p class="m10"><a href="/reject_friend/<%= follower_requests[i].id %>" style="background-color: var(--button-reject-background)">Reject</a></p>
                                                </td>
                                            </tr>
                                        <%_ } %>
                                    </tbody>
                                </table>
                            </section>
                        <%_ } %>
                        <%_ if(JSON.stringify(following) != '[]') { %>
                            <section class="followers">
                                <h1 class="title">Following</h1>
                                <table>
                                    <tbody>
                                        <%_ for(i in following) { %>
                                            <tr>
                                                <td id="person">
                                                    <div id="profile-top-container">
                                                        <a href="/profile/<%= following[i].id %>">
                                                            <img src="<%= following[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                            <div id="profile-top-details">
                                                                <img src="<%= following[i].pfp %>" class="profile-picture-default" alt="">
                                                                <div class="container">
                                                                    <p><%= following[i].name %></p>
                                                                    <p><%= following[i].username %></p>
                                                                    <p>Since: <%= following[i].creation_date.substr(0, 10) %></p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td id="friends">
                                                    <p class="m10"><a href="/remove_following/<%= following[i].id %>" style="background-color: var(--button-reject-background); display: flex; justify-content: center; align-items: center;"><img src="../../../images/private/settings/remove_friend.png" style="height: 40px; margin: 0 10px;" alt="">Remove</a></p>
                                                </td>
                                            </tr>
                                        <%_ } %>
                                    </tbody>
                                </table>
                            </section>
                        <%_ } %>
                        <%_ if(JSON.stringify(followers) != '[]') { %>
                            <section class="followers">
                                <h1 class="title">Followers</h1>
                                <table>
                                    <tbody>
                                        <%_ for(i in followers) { %>
                                            <tr>
                                                <td id="person">
                                                    <div id="profile-top-container">
                                                        <a href="/profile/<%= followers[i].id %>">
                                                            <img src="<%= followers[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                            <div id="profile-top-details">
                                                                <img src="<%= followers[i].pfp %>" class="profile-picture-default" alt="">
                                                                <div class="container">
                                                                    <p><%= followers[i].name %></p>
                                                                    <p><%= followers[i].username %></p>
                                                                    <p>Since <%= followers[i].creation_date.substr(0, 10) %></p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td id="friends">
                                                    <p class="m10"><a href="/remove_follower/<%= followers[i].id %>" style="background-color: var(--button-reject-background);">Remove</a></p>
                                                </td>
                                            </tr>
                                        <%_ } %>
                                    </tbody>
                                </table>
                            </section>
                        <%_ } %>
                        <%_ if(JSON.stringify(requested_followers) != '[]') { %>
                            <section class="followers">
                                <h1 class="title">Sent Requests</h1>
                                <table>
                                    <tbody>
                                        <%_ for(i in requested_followers) { %>
                                            <tr>
                                                <td id="person">
                                                    <div id="profile-top-container">
                                                        <a href="/profile/<%= requested_followers[i].id %>">
                                                            <img src="<%= requested_followers[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                            <div id="profile-top-details">
                                                                <img src="<%= requested_followers[i].pfp %>" class="profile-picture-default" alt="">
                                                                <div class="container">
                                                                    <p><%= requested_followers[i].name %></p>
                                                                    <p><%= requested_followers[i].username %></p>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </td>
                                                <td id="friends">
                                                    <p class="m10"><a href="/remove_request/<%= requested_followers[i].id %>" style="background-color: var(--button-reject-background);">Remove</a></p>
                                                </td>
                                            </tr>
                                        <%_ } %>
                                    </tbody>
                                </table>
                            </section>
                        <%_ } %>
                        </div>
                <%_ } %>
            </section>
        </div>
    </div>
</body>
<script>
    let localS = localStorage.getItem('theme'), themeToSet = localS

    if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.documentElement.setAttribute('data-theme', themeToSet)

</script>
</html>