<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
</head>
<body class="bg-blue">
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div>
            <h1 class="page-title">Friends</h1>
            <p style="padding: 10px; text-align: center;">See all friend details here</p>
        </div>
        <section class="grid-30-70 main-section">
            <%- include('sidebar.ejs') -%>
            <%_ if(JSON.stringify(followers) == '[]' && JSON.stringify(following) == '[]' && JSON.stringify(follower_requests) == '[]' && JSON.stringify(requested_followers) == '[]') { %>
                <p style="text-align: center; margin-top: auto;">Nothing here. Either wait for requests or <a href="/search">search</a> for people.</p>
            <%_ } else { %>
                <div class="content content-child">
                    <%_ if(JSON.stringify(follower_requests) != '[]') { %>
                        <section>
                            <h1 class="title">Incoming requests</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Person</th>
                                        <th>Accept</th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <%_ for(i in follower_requests) { %>
                                        <tr>
                                            <td id="person">
                                                <div id="profile-top-container">
                                                    <a href="/profile/<%= follower_requests[i].id %>">
                                                        <img src="<%= follower_requests[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                        <div id="profile-top-details">
                                                            <img src="<%= follower_requests[i].pfp %>" id="profile-picture" alt="">
                                                            <div class="container">
                                                                <p><%= follower_requests[i].name %></p>
                                                                <p><%= follower_requests[i].username %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="m10"><a href="/accept_request/<%= follower_requests[i].id %>" style="color: green;">Accept</a></p>
                                                <p class="m10"><a href="/reject_friend/<%= follower_requests[i].id %>" style="color: red;">Reject</a></p>
                                            </td>
                                        </tr>
                                    <%_ } %>
                                </tbody>
                            </table>
                        </section>
                    <%_ } %>
                    <%_ if(JSON.stringify(following) != '[]') { %>
                        <section class="followers">
                            <h1 class="title">Following</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Person</th>
                                        <th>Since</th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <%_ for(i in following) { %>
                                        <tr>
                                            <td id="person">
                                                <div id="profile-top-container">
                                                    <a href="/profile/<%= following[i].id %>">
                                                        <img src="<%= following[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                        <div id="profile-top-details">
                                                            <img src="<%= following[i].pfp %>" id="profile-picture" alt="">
                                                            <div class="container">
                                                                <p><%= following[i].name %></p>
                                                                <p><%= following[i].username %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td><%= following[i].creation_date.substr(0, 10) %></td>
                                            <td><a href="/remove_following/<%= following[i].id %>" class="transform-120">X</a></td>
                                        </tr>
                                    <%_ } %>
                                </tbody>
                            </table>
                        </section>
                    <%_ } %>
                    <%_ if(JSON.stringify(followers) != '[]') { %>
                        <section class="followers">
                            <h1 class="title">Followers</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Person</th>
                                        <th>Since</th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <%_ for(i in followers) { %>
                                        <tr>
                                            <td id="person">
                                                <div id="profile-top-container">
                                                    <a href="/profile/<%= followers[i].id %>">
                                                        <img src="<%= followers[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                        <div id="profile-top-details">
                                                            <img src="<%= followers[i].pfp %>" id="profile-picture" alt="">
                                                            <div class="container">
                                                                <p><%= followers[i].name %></p>
                                                                <p><%= followers[i].username %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td><%= followers[i].creation_date.substr(0, 10) %></td>
                                            <td><a href="/remove_follower/<%= followers[i].id %>" class="transform-120">X</a></td>
                                        </tr>
                                    <%_ } %>
                                </tbody>
                            </table>
                        </section>
                    <%_ } %>
                    <%_ if(JSON.stringify(requested_followers) != '[]') { %>
                        <section class="followers">
                            <h1 class="title">Sent Requests</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Person</th>
                                        <th>Remove?</th>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <%_ for(i in requested_followers) { %>
                                        <tr>
                                            <td id="person">
                                                <div id="profile-top-container">
                                                    <a href="/profile/<%= requested_followers[i].id %>">
                                                        <img src="<%= requested_followers[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0;">
                                                        <div id="profile-top-details">
                                                            <img src="<%= requested_followers[i].pfp %>" id="profile-picture" alt="">
                                                            <div class="container">
                                                                <p><%= requested_followers[i].name %></p>
                                                                <p><%= requested_followers[i].username %></p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </td>
                                            <td><a href="/remove_request/<%= requested_followers[i].id %>" id="remove-request" class="transform-120">X</a></td>
                                        </tr>
                                    <%_ } %>
                                </tbody>
                            </table>
                        </section>
                    <%_ } %>
                    </div>
            <%_ } %>
        </section>
    </div>
</body>
</html>