<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Settings</title>
</head>
<body class="bg-blue">
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div>
            <h1 class="page-title">Your Profile</h1>
            <h1 style="text-align: center;"><%_ if(success == "true") { %> Updated <span style="color: green;">✔</span> <%_ } %></h1>
            <p style="padding:10px; text-align: center;">Managing profile settings</p>
        </div>
        <section class="profile settings">
            <%- include('sidebar.ejs') -%>
            <div class="content">
                <section class="profile-inner">
                    <h1 class="title">
                        Change profile picture
                    </h1>
                    <p class="tcenter m10">Note that the image may not be in full scale. Right click and open image in new tab to see full image</p>
                    <%_ if(success == "false") { %> <p style="padding: 10px; color: red; font-weight: 500; font-size: 18px;">Not an image. Try again.</p> <%_ } %>
                    <div class="edit">
                        <img src="<%= user.pfp %>" alt="">
                        <form action="/edit_picture" method="POST" id="form-change-pfp">
                            <input type="url" name="url" placeholder="Link" class="fs15 text-center color-black" value="<%= user.pfp %>" required>
                            <button type="submit" style="width: 20%;">✔</button>
                        </form>
                    </div>
                </section>
                <section>
                    <h1 class="title">Edit details</h1>
                    <form action="/update_details/<%= user.id %>" method="POST" id="edit_details_form">
                        <div class="field">
                            <p class="fs15">Your Name</p>
                            <input type="text" name="name" value="<%= user.name %>" required>
                        </div>
                        <div class="field">
                            <p class="fs15">Email</p>
                            <input type="email" name="email" value="<%= user.username %>" required>
                        </div>
                        <button type="submit">Apply changes</button>
                    </form>
                </section>
                <section>
                    <h1 class="title">Reset</h1>
                    <p class=" m10 tcenter">If you delete history, the leaderboard must be deleted due to backend links</p>
                    <button><a href="#" style="color: red;">Reset history and leaderboard</a></button>
                    <p class="tcenter m10">Contact an admin to delete individual history entries</p>
                </section>
            </div>
        </section>
    </div>
</body>
</html>