<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Settings</title>
</head>
<body>
    <%- include('../navbar.ejs') -%>
    <div class="sections pt10vh">
        <div class="page-title">
            <img src="../../../images/private/settings/cog.svg" alt="">
            <h1>General Settings</h1>
        </div>
        <p style="padding:10px; text-align: center;">Manage all settings here</p>
        <div class="content-settings">
            <%- include('sidebar.ejs') -%>
            <section class="main-section main-section-settings">
                <div class="grid-gap-20">
                    <section>
                        <h1 class="title">Colour Theme</h1>
                        <div class="m10 colour-switcher">
                            <button id="switch"></button>
                        </div>
                    </section>
                    <section>
                        <h1 class="title">
                            Change profile picture
                        </h1>
                        <p class="tcenter m10">Note that the image may not be in full scale. Right click and open image in new tab to see full image</p>
                        <%_ if(success == "false") { %> <p style="padding: 10px; color: red; font-weight: 500; font-size: 18px;">Not an image. Try again.</p> <%_ } %>
                        <div class="edit">
                            <form id="form-change-pfp" hx-swap="outerHTML" hx-post="/backend/update/user/profile-picture/<%= user.id %>">
                                <div class="container">
                                    <img src="<%= user.pfp %>" alt="">
                                </div>
                                <div class="container">
                                    <input type="url" name="url" placeholder="Link" class="fs15 text-center color-black" value="<%= user.pfp %>" required>
                                    <button type="submit" style="width: 20%;">✔</button>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section>
                        <h1 class="title">
                            Change cover picture
                        </h1>
                        <p class="tcenter m10">Note that the image may not be in full scale. Right click and open image in new tab to see full image</p>
                        <%_ if(success == "false") { %> <p style="padding: 10px; color: red; font-weight: 500; font-size: 18px;">Not an image. Try again.</p> <%_ } %>
                        <div class="edit">
                            <form id="form-change-pfp" hx-swap="outerHTML" hx-post="/backend/update/user/cover-picture/<%= user.id %>">
                                <div class="container">
                                    <img src="<%= user.cover_image %>" alt="">
                                </div>
                                <div class="container">
                                    <input type="url" name="url" placeholder="Link" class="fs15 text-center color-black" value="<%= user.cover_image %>" required>
                                    <button type="submit" style="width: 20%;">✔</button>
                                </div>
                            </form>
                        </div>
                    </section>
                    <section>
                        <h1 class="title">Edit details</h1>
                        <form id="edit_details_form" hx-swap="outerHTML" hx-post="/backend/update/details/<%= user.id %>">
                            <div class="field">
                                <p class="fs15">Your Name</p>
                                <input type="text" name="name" value="<%= user.name %>" required>
                            </div>
                            <div class="field">
                                <p class="fs15">Email</p>
                                <input type="email" name="email" value="<%= user.username %>" required>
                            </div>
                            <p class="tcenter m10">To reset your password, contact an admin.</p>
                            <button type="submit">Apply changes</button>
                        </form>
                    </section>
                    <%_ if(leaderboard || history) { %>
                        <section>
                            <%_ if(leaderboard != undefined && history == undefined) { %>
                                <h1 class="title">Reset</h1>
                                <form action="/backend/reset/user/lboard/<%= user.id %>" method="POST" class="m10">
                                    <button style="color: red;">Reset leaderboard</button>
                                </form>
                            <%_ } else if(history != undefined) { %>
                                <p class="tcenter m10">If you delete history, leaderboard must also be deleted</p>
                                <form action="/backend/reset/user/lboard_history/<%= user.id %>" method="POST" class="m10">
                                    <button style="color: red;">Reset history and leaderboard</button>
                                </form>
                                <p class="tcenter m10">Contact an admin to delete individual history entries</p>
                            <%_ } %>
                        </section>
                    <%_ } %>
                </div>
            </section>
        </div>
    </div>
</body>

<script>
    let localS = localStorage.getItem('theme'), themeToSet = localS

    if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.documentElement.setAttribute('data-theme', themeToSet)

    document.getElementById('switch').textContent = themeToSet

    function switchTheme() {
        const bodyElement = document.documentElement
        let dataTheme = bodyElement.getAttribute('data-theme'), newTheme
    
        newTheme = dataTheme === 'dark' ? 'light' : 'dark'
        
        document.getElementById('switch').textContent = newTheme

        bodyElement.setAttribute('data-theme', newTheme)

        localStorage.setItem('theme', newTheme)
    }

    document.querySelector('#switch').addEventListener('click', switchTheme)
</script>
</html>