<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy</title>
</head>
<body>
    <span id="profile_visibility" style="display: none;"><%= privacy.profile %></span>
    <span id="history_visibility" style="display: none;"><%= privacy.history %></span>
    <span id="leaderboard_visibility" style="display: none;"><%= privacy.leaderboard %></span>
    <span id="friends_visibility" style="display: none;"><%= privacy.friend %></span>
    <%- include('../navbar.ejs') -%>
    <div class="pt10vh sections">
        <div class="page-title">
            <img class="icon" src="../../../images/private/settings/privacy.svg" alt="">
            <h1>Privacy</h1>
        </div>
        <p style="padding: 10px; text-align: center;">Manage your privacy details here</p>
        <div class="content-settings">
            <%- include('sidebar.ejs') -%>
            <section class="main-section main-section-settings">
                <div class="content content-child">
                    <h1 class="title">Edit settings</h1>
                    <form id="privacy-form" action="/backend/update/user/privacy/<%= user.id %>" method="POST">
                        <div class="container-flex">
                            <label for="privacy_setting_profile">Who can view your Profile?</label>
                            <select id="privacy_setting_profile_select" name="privacy_setting_profile">
                                <option id="profile_everyone" value="global">Everyone</option>
                                <option id="profile_friends" value="friends">Friends</option>
                            </select>
                        </div>
                        <div class="container-flex" id="privacy_setting_history">
                            <label for="privacy_setting_history">Who can view your History?</label>
                            <select id="privacy_setting_history_select" name="privacy_setting_history">
                                <option id="history_everyone" value="global">Everyone</option>
                                <option id="history_friends" value="friends">Friends</option>
                                <option id="history_private" value="private">Private</option>
                            </select>
                        </div>
                        <div class="container-flex">
                            <label for="privacy_setting_leaderboard">Who can view your Leaderboard?</label>
                            <select id="privacy_setting_leaderboard_select" name="privacy_setting_leaderboard">
                                <option id="leaderboard_everyone" value="global">Everyone</option>
                                <option id="leaderboard_private" value="private">Private</option>
                            </select>
                        </div>
                        <div class="container-flex">
                            <label for="privacy_setting_friends">Who can view your Friends?</label>
                            <select id="privacy_setting_friends_select" name="privacy_setting_friends">
                                <option id="friends_everyone" value="global">Everyone</option>
                                <option id="friends_friends" value="friends">Friends</option>
                                <option id="friends_private" value="private">Private</option>
                            </select>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $('#privacy_setting_profile_select').val(`${$('#profile_visibility').text()}`).attr('selected', true)
        $('#privacy_setting_history_select').val(`${$('#history_visibility').text()}`).attr('selected', true)
        $('#privacy_setting_leaderboard_select').val(`${$('#leaderboard_visibility').text()}`).attr('selected', true)
        $('#privacy_setting_friends_select').val(`${$('#friends_visibility').text()}`).attr('selected', true)
    </script>
    <script>
        let localS = localStorage.getItem('theme'), themeToSet = localS
    
        if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    
        document.documentElement.setAttribute('data-theme', themeToSet)
    
    </script>
</body>
</html>