<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body class="bg-blue">
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div>
            <div class="page-title">
                <img src="../../../images/private/settings/profile.svg" alt="">
                <h1>Your Profile</h1>
            </div>
            <p style="padding: 10px; text-align: center;">Manage these details in the <a href="/settings/general">general</a> tab</p>
        </div>
        <div class="content-settings">
            <%- include('sidebar.ejs') -%>
            <section class="main-section main-section-settings">
                <div class="content content-child">
                    <div id="profile-top-container">
                        <img src="<%= user.cover_image %>" alt="" id="profile-top-img">
                        <div id="profile-top-details">
                            <img src="<%= user.pfp %>" id="profile-picture" alt="">
                            <div class="container">
                                <p><%= user.name %></p>
                                <p><%= user.username %></p>
                            </div>
                        </div>
                    </div>
                    <%_ if(JSON.stringify(leaderboard) != '[]') { %>
                        <section>
                            <p style="text-align: center;">Leaderboard: <%= leaderboard[0].level %> with <%= leaderboard[0].score %> points %></p>
                        </section>
                    <%_ } else { %>
                        <p style="text-align: center; padding: 20px; cursor: pointer;">You have no leadboard entry, <a href="/levels">play now</a>.</p>
                    <%_ } %>
                    <%_ if(JSON.stringify(history) != '[]') { %>
                        <section>
                            <h1 class="title" style="margin-bottom: 10px;">History</h1>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Level</th>
                                        <th>Date</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%_ for(i in history) { %>
                                        <tr>
                                            <td><%= history[i].level %></td>
                                            <td><%= history[i].date %></td>
                                            <td><%= history[i].score %></td>
                                        </tr>
                                    <%_ } %>
                                </tbody>
                            </table>
                        </section>
                    <%_ } else { %>
                        <p style="text-align: center; padding: 20px; cursor: pointer;">You have no history, <a href="/levels">play now</a>.</p>
                    <%_ } %>
                    <%_ if(JSON.stringify(followers) != '[]') { %>
                        <section class="ransform-105">
                            <h1 class="title" style="margin-bottom: 10px;">Friends</h1>
                                <%_ for(i in followers) { %>
                                        <a href="/profile/<%= followers[i].id %>">
                                            <div id="profile-top-container">
                                                <img src="<%= followers[i].cover_image %>" alt="" id="profile-top-img" style="height: 100%; left: 0; top: 0;">
                                                <div id="profile-top-details">
                                                    <img src="<%= followers[i].pfp %>" id="profile-picture" alt="">
                                                    <div class="container">
                                                        <p class="tcenter"><%= followers[i].name %></p>
                                                        <p class="tcenter"><%= followers[i].creation_date %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                <%_ } %>
                        </section>
                    <%_ } else { %>
                        <p style="text-align: center; padding: 20px; cursor: pointer;">You have not added any friends, <a href="/search">add friends</a>!</p>
                    <%_ } %>
                </div>
            </section>
        </div>
    </div>
</body>
</html>