<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version History</title>
</head>
<body class="bg-blue">
    <%- include('../navbar.ejs') -%>
    <div class="sections">
        <div>
            <h1 class="page-title">Version History</h1>
            <p style="padding: 10px; text-align: center;">Check the development of Air Traffic City</p>
        </div>
        <section class="settings main-section">
            <%- include('sidebar.ejs') -%>
            <div class="content">
                <section class="profile-inner" style="margin-top: auto; height: 640px;">
                    <h1 class="title" style="margin-bottom: 20px;">Version History</h1>
                    <div style="overflow-y: scroll; height: 100%;">
                        <%_ for(i in entries) { %>
                            <div class="container" style="padding: 20px; margin: 20px 0; background-color: rgb(93, 93, 93); border-radius: 10px;">
                                <h1 style="text-align: left; margin-bottom: 10px;"><%= entries[i].title %></h1>
                                <p style="margin-bottom: 15px;"><%= entries[i].date_added %></p>
                                <p style="white-space: pre-line; text-align: left;"><%= entries[i].details %></p>
                            </div>
                        <%_ } %>
                    </div>
                </section>
            </div>
        </section>
    </div>
</body>
</html>