<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version History</title>
</head>
<body>
    <%- include('../navbar.ejs') -%>
    <div class="sections pt10vh">
        <div class="page-title">
            <img class="icon" src="../../../images/private/settings/version.svg" alt="">
            <h1>Version History</h1>
        </div>
        <p style="padding: 10px; text-align: center;">Check the development of Air Traffic City</p>
        <div class="content-settings">
            <%- include('sidebar.ejs') -%>
            <section class="main-section main-section-settings">
                <div class="content content-child">
                    <h1 class="title" style="margin-bottom: 20px;">Version History</h1>
                    <p class="tcenter"><a href="https://github.com/danlovett/ATC-release" class="tcenter m10">Github Repo</a></p>
                    <div class="grid-gap-20" style="overflow-y: scroll; margin-top: 20px; height: 557px;">
                        <%_ for(i in entries) { %>
                            <section style="padding: 20px; border-radius: 10px;">
                                <h1 style="text-align: center; margin-bottom: 10px;"><%= entries[i].title %></h1>
                                <p class="tcenter" style="margin-bottom: 15px;"><%= entries[i].date_added %></p>
                                <p style="white-space: pre-line; text-align: left;"><%= entries[i].details %></p>
                            </section>
                        <%_ } %>
                    </div>
                </div>
            </section>

        </div>
    </div>
</body>
<script>
    let localS = localStorage.getItem('theme'), themeToSet = localS

    if(!localS) themeToSet = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'

    document.documentElement.setAttribute('data-theme', themeToSet)

</script>
</html>