<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finish</title>
    <link rel="stylesheet" href="/css/private.css">
</head>
<body class="bg-main">
    <section class="main-section setup-middle" style="margin: 12vh auto;">
        <section style="padding: 20px 0;">
            <h1 class="tcenter">You've finished!</h1>
            <p class="tcenter">Here's a quick overview of your profile</p>
        </section>
        <section style="margin: 20px 0;">
            <section style="border: 2px white solid;">
                <div class="container-grid-split-middle" id="new-user-form">
                    <div class="container edit w100" style="display: grid;">
                        <h1 class="title" style="text-align: center; width: 100%;">Profile picture</h1>
                        <img src="<%= user.pfp %>" alt="No image found." id="output-pfp">
                    </div>
                    <div class="container edit w100" style="display: grid;">
                        <h1 class="title" style="text-align: center; width: 100%;">Cover image</h1>
                        <img src="<%= user.cover_image %>" alt="No image Found." id="output-cover-image">
                    </div>
                </div>
                <h1 class="title tcenter" style="margin-bottom: 20px;">On your profile, it'll appear as:</h1>
                <div id="profile-top-container">
                    <img src="<%= user.cover_image %>" alt="" id="profile-top-img">
                    <div id="profile-top-details">
                        <img src="<%= user.pfp %>" id="profile-picture" alt="">
                        <div class="container">
                            <p><%= user.name %></p>
                            <p><%= user.username %></p>
                        </div>
                    </div>
                </div>
                <button style="margin-top: 20px;"><a href="/account/setup/details">Edit</a></button>
            </section>
            <section style="border: 2px white solid;">
                <h1 class="title tcenter">Let's finish with privacy <p class="tcenter fs15 m10">Visibility across the platform</p></h1>
                <table style="width: 50%;">
                    <thead>
                        <tr>
                            <th>Profile</th>
                            <th>Leaderboard</th>
                            <th>History</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= user.profile.substr(0,1).toUpperCase() + user.profile.substr(1, user.profile.length) %></td>
                            <td><%= user.leaderboard.substr(0,1).toUpperCase() + user.leaderboard.substr(1, user.leaderboard.length) %></td>
                            <td><%= user.history.substr(0,1).toUpperCase() + user.history.substr(1, user.history.length) %></td>
                        </tr>
                    </tbody>
                </table>
                <button style="margin-top: 20px;"><a href="/account/setup/privacy">Edit</a></button>
            </section>
        </section>
        <button><a href="/account/setup/push">Finish</a></button>
    </section>
</body>